<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PWUser" value="dwg_conv"/>
    <add key="PWPassword" value="xscdvf!"/>
    <add key="PWDatasourceName" value="ANDERSMA4.americas.hpqcorp.net:MyPWData"/>
    <add key="MDLAppName" value="BVSchemaChecker"/>
    <add key="AppKeyin" value="BVSchemaChecker Check"/>
    <!-- the Automation Service login is seperate from the projectwise login -->
    <add key="ASProvider" value="SQLOLEDB.1"/>
    <!-- <add key="ASDataSourceName" value ="sql-test-pw-kaci"/>
    <add key="ASCatalog" value="Orchestration_BVE_PP_DEV"/>
    <add key ="ASUser" value="ProjDBAdmin"/>
    <add key="ASPassword" value="B3ntl3y@dm1n"/> -->
    <add key="ASDataSourceName" value ="ANDERSMA4\PWDEV"/>
    <add key="ASCatalog" value="PWOF6"/>
    <add key ="ASUser" value="sa"/>
    <add key="ASPassword" value="ProjectWise!"/>
    <!--ASDataSource "Provider=SQLOLEDB.1; Data Source=ANDERSMA4\\PWDEV;Initial Catalog=PWOF6;Persist Security Info=True;User ID=sa;Password=ProjectWise!;Connect Timeout=30");
    {7b59f863-38f1-4f41-96a2-7fd9a29ac1bd}-->
  </appSettings>
</configuration>
